* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(34, 18, 5, 0.7), rgba(34, 18, 5, 0.7)),
    url(images/Basquete_Fundo1.jpg);
  background-size: cover;
}

.logo {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #161616;
  width: 100%;
  padding: 16px 5rem;
  z-index: 500;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.nav-links ul li {
  list-style: none;
  padding-right: 50px;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #dd531c;
  display: block;
  transition: 0.5s;
}

.nav-links ul li a:hover {
  color: rgb(255, 185, 129);
}

.nav-links ul li:hover::after {
  width: 100%;
}

.texto {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.texto h1 {
  font-size: 60px;
}

.texto p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: #fff;
}

.texto a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 20px;
  background: transparent;
  position: relative;
}

.texto a:hover {
  background: #ff7300;
  transition: 1s;
}

/* -------- Sobre -------- */

.sobre {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.sobre h1 {
  font-size: 40px;
  font-weight: 600;
}

.sobre p {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  padding: 20px;
}

.lista {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.coluna {
  flex-basis: 30%;
  border-radius: 10px;
  background: rgb(172, 163, 150);
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.lista h2 {
  margin: 10px 0;
  font-weight: 600;
}

.coluna:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.842);
}

/* -------- Treino --------  */

.treino {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.treino h1 {
  font-size: 40px;
  font-weight: 600;
}

.treino h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 25px;
  padding: 30px;
}

.treino p {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  padding: 20px;
}

.tabela {
  width: 80%;
  height: 500px;
  background: rgb(172, 163, 150);
  border-radius: 10px;
  margin: auto;
  transition: 0.5s;
}

.tabela:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.842);
}

.entradas {
  padding: 20px;
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: space-between;
}

.entradas h3 {
  font-size: 20px;
  padding: 7px;
}

.entradaValor input {
  width: 100%;
  height: 100%;
  font-size: 30px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgba(12, 12, 12, 0.4);
  color: #fff;
  letter-spacing: 3px;
}

.entradaValor {
  margin-left: 5px;
  margin-right: 5px;
}

.botão {
  margin-top: 60px;
  width: 200px;
  height: 60px;
  border: none;
  font-size: 30px;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(47, 47, 47);
  box-shadow: inset 0 0 0 0 rgb(43, 43, 83);
  transition: ease-out 0.4s;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.botão:hover {
  box-shadow: inset 200px 0 0 0 rgb(43, 43, 83);
}
.campo-resposta {
  margin-top: 60px;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.campo-resposta h2 {
  text-align: left;
}

.saida {
  font-size: 60px;
  font-weight: 600;
  margin-left: 30px;
  text-align: center;
}

.condicao ul {
  display: inline-block;
  text-align: left;
}

.condicao ul li {
  font-size: 18px;
}

/* -------- Dev --------  */

.dev {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.dev h1 {
  font-size: 40px;
  font-weight: 600;
}

.dev img {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin-top: 80px;
}

.dev p {
  font-size: 20px;
  font-weight: 400;
  padding-top: 60px;
}

/* -------- Footer --------  */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  font-size: 20px;
}

.footer p {
  margin-top: 50px;
}
